* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif-four;
  background: #efefdf;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  background: #f5f5dc;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.logo-text h2 {
  color: rgb(20 83 45);
  font-size: 20px;
  font-weight: bold;
}

/* Menu */
.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.menu li a:hover {
  color: #ffd700;
}

.tombol{
  display: none;
  color: black;
  font-size:16px;
  font-weight:500;
  transition: 0.3s;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
  }

  .navbar-container {
    flex-direction: column;
    gap: 15px;
  }

  .logo-text h2 {
    font-size: 16px;
    text-align: center;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;.
  }
}

//dari sini hingga bawah adalah bagian yang ada di index.css
/*
.badge {
  background: #d9f99d;
  color: #166534;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 14px;
}

.btn-primary {
  background: #166534;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
}

.btn-secondary {
  background: #854d0e;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
}

//LABEL 

.section-label {
  color: #15803d;
  font-size: 14px;
  letter-spacing: 2px;
}

// PROGRAM

.program-large {
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  background: url("assets/images/ngaji.jpeg");
  background-size: cover;
  position: relative;
}

.program-large .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 80, 0, 0.5), rgba(0, 0, 0, 0.1));
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.program-small {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}

.program-small img {
  width: 120px;
  object-fit: cover;
}

// KAJIAN

.kajian-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kajian-card.active {
  background: #2e7d32;
  color: white;
}
